# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv*/
.venv
*.sqlite3
db.sqlite3

# Django
*.log
/media/
/staticfiles/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp
.DS_Store
